[user]
	email = patryk.sztuczka00@gmail.com
	name = Patryk Sztuczka
[pull]
	rebase = true
[trace2]
	eventTarget = af_unix:stream:/Users/patryk.sztuczka/.git-ai/internal/daemon/trace2.sock
	eventNesting = 10
